<div class="container w-75 position-relative" id="cart">
  <div class="row mb-5">
    <div class="col-6">
      <h2 class="text-2xl font-bold">Cart</h2>
    </div>

    <% if @cart_items.any? %>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <%= button_to "Reset", cart_reset_path,
              method: :delete,
              form: { data: { turbo_stream: true } },
              data: { confirm: "Are you sure you want to empty your cart?" },
              class: "btn btn-light" %>
      </div>
    <% end %>
  </div>

  <% if @cart_items.any? %>
    <% @cart_items.each do |cart_item| %>
      <%= render partial: "cart_item", locals: { cart_item: cart_item } %>
    <% end %>

    <%= render partial: "totals", locals: { cart_items: @cart_items } %>

    <div class="row mb-5">
      <%= button_to "Checkout", cart_reset_path,
            class: "btn btn-success w-100",
            method: :delete,
            form: { data: { turbo_stream: true } } %>
    </div>
  <% else %>
    <%= render partial: "empty_state" %>
  <% end %>
</div>
